{{#each errors}}
    <div class="error">{{this}}</div>
{{/each}}

    <h2>Register</h2>
    
    <form method="POST" action="/user/register" enctype="multipart/form-data" id="registerForm">

        <div class="inputForm">
            <label>First Name</label>
            <input type="text" name="firstName" id="firstName"> 
        </div>

        <div class="inputForm">
            <label>Last Name</label>
            <input type="text" name="lastName" id="lastName"> 
        </div>

        <div class="inputForm">
            <label>Email</label>
            <input type="email" name="email" id="email"> 
        </div>
        
        <div class="inputForm">
            <label>Password</label>
            <input type="password" name="password" id="password">
        </div>

        <div class="inputForm">
            <label>Confirm Password</label>
            <input type="password" name="cpassword" id="cpassword">
        </div>

        <div class="inputForm">
            <input type="file" name="profilePic" > 
        </div>

        <div class="inputForm">
            <input type="submit" value="Sign Up" class="btn btn-outline-primary" id="signBut">
        </div>
        
    </form>

